---
---

#wrapper {
     margin: 0 auto;
}
#side-navigation {
    padding: 2rem 6rem;
    border: 1px solid white;
    float: left;
    min-height: 200px;
    width: 250px;
    text-align: center;
}

@import "{{ site.theme }}";