---
---

#wrapper {
     width: 1200px;
     margin: 0 auto;
}
#leftcolumn {
    padding: 2rem 0rem;
    border: 1px solid white;
    float: left;
    min-height: 450px;
}
#leftcolumn {
     width: 250px;
}

@import "{{ site.theme }}";