---
---

#wrapper {
     width: 1005px;
     margin: 0 auto;
}
#leftcolumn, #rightcolumn {
    border: 1px solid white;
    float: left;
    min-height: 450px;
}
#leftcolumn {
     width: 250px;
}

#rightcolumn {
     width: 750px;
}

@import "{{ site.theme }}";